
MCAutoChess/.idea/encodings.xml
MCAutoChess/.idea/misc.xml
MCAutoChess/.idea/modules.xml
MCAutoChess/.idea/vcs.xml
MCAutoChess/.idea/workspace.xml
MCAutoChess/.idea/artifacts/MCAutoChess.xml
MCAutoChess/.idea/dictionaries/FKPro.xml
MCAutoChess/.idea/inspectionProfiles/Project_Default.xml
MCAutoChess/.idea/libraries/spigot_1_13_2.xml
